
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  font-family: 'Bebas Neue', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --user-primary: #5493c0;
  --user-secondary: #3e73a6;

  --program-primary: #d14b40;
  --program-secondary: #ad3c34;

  --gameboard-cell-size: 48px;

  --gameboard-cell-size: 48px;
}

@import url(./fonts/MachineStd.otf);
@import url(./fonts/Glass_TTY_VT220.ttf);

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
  justify-content: space-between;
}

h1 {
  margin: 0;
  line-height: 3rem;
}

h2 {
  padding: 0;
  margin: 0;
}

#app {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}


.game-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;

}

.gameboard-container {
  padding-right: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  border-radius: 4px;
}

.gameboard-container.program {
  background-color: #d14b40;
  border-color: #ad3c34;
  color: #ad3c34;
}

.gameboard-container.user {
  background-color: var(--user-primary);
  border-color: var(--user-secondary);
  color: var(--user-secondary);
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #6e6e6e;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.gameboard-cell {
  border-color: #484848 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.gameboard {
  border-radius: 4px;
  border: 2px solid #484848;
}

.gameboard-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--gameboard-cell-size);
  height: var(--gameboard-cell-size);
  border: 2px solid;
}

.gameboard-cell.ship {
  background-color: #1d1d1d;
}

.targeted {
  border-color: #15ff00 !important;
  border-style: dashed;
}

.firing {
  border-color: #ff0000 !important;
  border-style: solid;
}

.peg {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #484848;
  z-index: 1;
}

.hit {
  width: 10px;
  height: 10px;
  border: 5px solid #d14b40 !important;
  border-radius: 100%;
  background-color: #ad3c34 !important;
  box-shadow: #1a1a1a 0px 0px 5px;
}

.miss {
  width: 10px;
  height: 10px;
  border: 5px solid #ffffff;
  border-radius: 100%;
  background-color: #a8a8a8 !important;
  box-shadow: #1a1a1a 0px 0px 5px;
}

.hover {
  background-color: #15ff00 !important;
}

.invalid {
  background-color: #ff0000 !important;
}

.horizontal-wrapper {
  display: flex;
}

.coordinates {
  display: flex;
  padding: 2px;
}

.coordinates.x {
  justify-content: end;
}

.coordinates.y{
  flex-direction: column;
}

.coordinate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(var(--gameboard-cell-size) + 4px);
  height: calc(var(--gameboard-cell-size) + 4px);
  font-size: x-large;
  flex-shrink: 0;
}


.game-title {
  font-family: MachineStd, 'Bebas Neue', sans-serif;
  font-size: 6rem;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.user-name-label {
  font-size: 1.5rem;
}

input {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1d1d1d;
  border: 0;
  border-radius: 2px;
  font-family: Glass_TTY_VT220, 'Bebas Neue', sans-serif;
  color: #15ff00;
  padding: 0;
  font-size: x-large;
  flex-grow: 1;
  height: 100%;
}

input:focus {
  outline: none;
}


button {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  border: 0px;
  border-radius: 4px;
  font-family: 'Bebas Neue';
  font-size: x-large;
}

button:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--user-primary);
  border-color: var(--user-secondary);
  cursor: pointer;
} 

.user-name-input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.status-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}

.status-text {
  display: flex;
  align-items: center;
  text-align: center;
  border: 0px;
  background-color: #1d1d1d;
  border-radius: 4px;
  font-family: Glass_TTY_VT220, 'Bebas Neue', sans-serif;
  color: #15ff00;
  flex-grow: 1;
  height: 100%;
  padding: 0 1rem;
}

.target-text {
  display: flex;
  align-items: center;
  text-align: center;
  border: 0px;
  background-color: #1d1d1d;
  border-radius: 4px;
  padding: 0 1rem;
  font-family: Glass_TTY_VT220, 'Bebas Neue', sans-serif;
  color: #15ff00;
  width: 30%;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: .5rem;
  align-items: center;
  font-size: 1rem;
  color: #888;
  justify-content: center;
}

.github-link {
  display: flex;
}

.github-icon {
  padding-bottom: 6px;
  width: 1.5em;
  height: 1.5em;
  color: var(--user-primary);
}

.start-menu-container {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (pointer: coarse) {
 .target-text {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  :root{
    --gameboard-cell-size: 32px;
  }
}

@media screen and (max-width: 991px) {
  :root{
    --gameboard-cell-size: 26px;
  }
}

@media screen and (max-width: 800px) {
  :root{
    --gameboard-cell-size: 20px;
  }

  body{
    max-height: 100dvh;
  }

  #app{
    max-width: calc(272px + 14px);
    gap: 1rem;
    padding: 0 1rem;
  }

  .game-container {
    gap: 1rem;
  }

  .game-title {
    font-size: 4rem;
  }

  input{
    font-size: large;
  }

  .button {
    font-size: large;
  }

  .game-title.main {
    display: none;
  }

  .status-container {
    height: auto;
    gap: 1rem;
  }

  .status-text {
    font-size: large;
    padding: .25rem;
    justify-content: center;
  }

  footer{
    display: none;
  }
}
